<div class="col-md-6">
    <div class="card">
        <img src="<%= asset_path 'soldout/chicken.jpg' %>" class="card-img card-img-top">
        <div class="card-body">
            <div class="row">
                <div class="col-12" align="center">
                    <div class="item-details">
                        <p class="item-title"><%= @chicken_tehari.name %></p>
                        <p class="item-price">
                            <% if @chicken_tehari.old_price != "" %>
                            <del class="regular">TK <%= @chicken_tehari.old_price %></del> 
                            <% end %>
                            TK <%= @chicken_tehari.price %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>