<div class="col-md-6">
    <div class="card">
        <img src="/assets/soldout/firni-reg.jpg" class="card-img card-img-top">
        <div class="card-body">
            <div class="row">
                <div class="col-12" align="center">
                    <div class="item-details">
                        <p class="item-title"><%= @firni_reg.name %></p>
                        <p class="item-price">
                            <% if @firni_reg.old_price != "" %>
                            <del class="regular">TK <%= @firni_reg.old_price %></del> 
                            <% end %>
                            TK <%= @firni_reg.price %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
