<div class="col-md-6">
    <div class="card">
        <img src="https://rebrand.ly/sychvc" class="card-img card-img-top">
        <div class="card-body">
            <div class="row">
                <div class="col-12" align="center">
                    <div class="item-details">
                        <p class="item-title"><%= @beef_tehari.name %></p>
                        <p class="item-price">TK <%= @beef_tehari.price %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>