@font-face {
	font-family: 'Semi';
	src: url('Gilroy-SemiBold.ttf') format('truetype');

}

@font-face {
	font-family: 'Medium';
	src: url('Gilroy-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Regular';
	src: url('Gilroy-Regular.ttf') format('truetype');
}

.semi {
	font-family: "Semi";
}

.medium {
	font-family: "Medium";
}

.regular {
	font-family: "Regular";
}

.heading-1 {
	font-size: 40px;
	font-family: Semi;

}

.text-1 {
	font-family: Medium;
	font-size: 18px;
}