<div class="container">

  <div class="py-4">
    <h1 class="semi">New Delivery Point</h1>
    <hr>
  </div>

  <%= render 'form', delivery_point: @delivery_point %>

  <%= link_to 'Back', delivery_points_path %>

</div>
