<% content_for :head do -%>
  <%= stylesheet_link_tag 'coming_soon.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<section id="coming_soon">
	<div class="container-fluid">
		<div class="col-12">

			<div class="row">
				<p class="semi">a virtual kitchen startup <br> <span>coming soon.</span></p>
			</div>
		</div>
	</div>
</section>
