<% content_for :head do -%>
  <%= stylesheet_link_tag 'coming_soon.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<section id="coming-soon">
	<div class="cs-holder">
		<p class="semi cs-text animated fadeIn">a virtual kitchen startup, <br> <span class="cs animated fadeIn delay-1s">coming soon.</span></p>
	</div>

	<div class="social-holder animated fadeIn delay-1s">
		<a href="https://www.facebook.com/dawaat.co" target="_blank"><i class="fab fa-facebook-f"></i></a>
		<a href="https://www.instagram.com/dawaat.co" target="_blank"><i class="fab fa-instagram"></i></a>
		<a href="https://www.linkedin.com/company/dawaat" target="_blank"><i class="fab fa-linkedin"></i></a>
	</div>
</section>
