<style type="text/css">
	.holder-4 {
		padding: 8% 4%;
	}

	.holder-4 .conj {
		border: none;
		border-radius: 10px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.1);
		background-color: white;
		padding: 8%;
	}
	.conj p {
		font-size: 18px;
	}

</style>

<div class="container-fluid">
	<div class="holder-4">
		<div class="row">
			<div class="col-md-6">
				<div class="jumbotron conj" align="center">
					<h2 class="semi">feedback</h2>
					<p class="">We take your Feedback vey seriously and try to improvise everyday.</p>
					<a href="https://forms.gle/DubWaeQRRnQftnhD9" target="_blank" class="mx-auto"><button class="btn-1">Submit Feedback</button></a>
				</div>	
			</div>

			<div class="col-md-6">
				<div class="jumbotron conj">
					<h2 class="text-center semi">reach us</h2>
					<p class="text-left"><i class="fas fa-phone"></i></i> : 012332</p>
					<p class="text-left"><i class="fas fa-envelope"></i> : general@dawaat.co</p>
				</div>	
			</div>
			
		</div>
	</div>
</div>