<style type="text/css">
	.banner {
		height: 70vh;
		background-image: url("https://cdn.skoda-storyboard.com/2019/10/almazan-kitchen-3-header-1440x547.jpg");
		background-size: cover;
		background-position: 40% 15%;
	}

	.scroller {
		height: 100vh;
	}
</style>

<div>
	<div class="banner bg-success">
		
	</div>
	<div class="scroller">
		
	</div>
</div>