<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-12 bg-warning left">
            <img src="http://bit.ly/2MKVeWC" class="logo-web"/>
        </div>

        <div class="col-md-7 offset-md-5 col-12 bg-white right">
            <div class="right-holder">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#"><img src="http://bit.ly/31WmmGG" width="90px" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <img src="https://img.icons8.com/ios-glyphs/208/000000/menu.png" width="30px;">
                    </button>

                    <div class="collapse navbar-collapse semi" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Our Story</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Feedback</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Checkout</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="promo-banner col-12">
                    <img src="assets/img/promo-dummy.png" class="promo-img" />
                </div>

                <div id="menu-holder">
                    <h2 class="semi menu-header">Our Menu</h2>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <img src="assets/img/1.png" class="card-img card-img-top">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="item-details">
                                                <p class="item-title">Signature Tehari</p>
                                                <p class="item-price">TK 180</p>
                                            </div>
                                        </div>

                                        <!--Counter-->
                                        <div class="col-5 pl-0 my-auto">
                                            <div class="input-counter input-group">
                                                <div class="input-group-prepend">
                                                    <button type="button" class="btn counter-btn counter-btn-right">
                                                        <img src="http://bit.ly/2r1QXWq" width="20px" />
                                                    </button>
                                                </div>
                                                <input type="text" class="form-control counter">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn counter-btn counter-btn-right">
                                                        <img src="http://bit.ly/2PIIUbC" width="20px" />
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <img src="assets/img/2.png" class="card-img card-img-top">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="item-details">
                                                <p class="item-title">Polao &amp; Roast</p>
                                                <p class="item-price">TK 220</p>
                                            </div>
                                        </div>

                                        <!--Counter-->
                                        <div class="col-5 pl-0 my-auto">
                                            <div class="input-counter input-group">
                                                <div class="input-group-prepend">
                                                    <button type="button" class="btn counter-btn counter-btn-right">
                                                        <img src="assets/img/minus3.png" width="20px" />
                                                    </button>
                                                </div>
                                                <input type="text" class="form-control counter">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn counter-btn counter-btn-right">
                                                        <img src="assets/img/plus3.png" width="20px" />
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <img src="assets/img/3.png" class="card-img card-img-top">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="item-details">
                                                <p class="item-title">Shahi Firni (for 2)</p>
                                                <p class="item-price">TK 160</p>
                                            </div>
                                        </div>

                                        <!--Counter-->
                                        <div class="col-5 pl-0 my-auto">
                                            <div class="input-counter input-group">
                                                <div class="input-group-prepend">
                                                    <button type="button" class="btn counter-btn counter-btn-right">
                                                        <img src="assets/img/minus3.png" width="20px" />
                                                    </button>
                                                </div>
                                                <input type="text" class="form-control counter">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn counter-btn counter-btn-right">
                                                        <img src="assets/img/plus3.png" width="20px" />
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <img src="assets/img/4.png" class="card-img card-img-top">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="item-details">
                                                <p class="item-title">Shahi Firni (for 4)</p>
                                                <p class="item-price">TK 300</p>
                                            </div>
                                        </div>

                                        <!--Counter-->
                                        <div class="col-5 pl-0 my-auto">
                                            <div class="input-counter input-group">
                                                <div class="input-group-prepend">
                                                    <button type="button" class="btn counter-btn counter-btn-right">
                                                        <img src="assets/img/minus3.png" width="20px" />
                                                    </button>
                                                </div>
                                                <input type="text" class="form-control counter">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn counter-btn counter-btn-right">
                                                        <img src="assets/img/plus3.png" width="20px" />
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="view-cart fixed-bottom col-md-7 offset-md-5 bg-black">
                <div class="row">
                    <div class="col">
                        <p class="text-left">View Cart</p>
                    </div>
                    <div class="col">
                        <p class="text-right">Subtotal</p>
                    </div>
                </div>
            </div>
            
            <footer>
                <div class="row">
                    <div class="col-7" align="left">
                        <ul class="social-list p-0 m-0">
                            <a href="#">
                                <li><i class="fab fa-facebook-f"></i></li>
                            </a>
                            <a href="#">
                                <li><i class="fab fa-instagram"></i></li>
                            </a>
                            <a href="#">
                                <li><i class="fab fa-linkedin-in"></i></li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-5" align="right">
                        <p class="semi m-0 py-2 credits">dawaat &copy; 2019</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    
</div>

