<style type="text/css">
	#ourstory-holder {
		padding: 3%;
	}

	.table-container {
  margin-top: 50px;
}
</style>



<div id="ourstory-holder">
	<%= render "layouts/general_navbar" %>
	<div style="position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%);">
		<h1 class="semi animated fadeIn display-4 yellow mb-0">Making it happen.</h1>
		<h5 class="">Coming Soon!</h5> 
	</div>

</div>


