<style type="text/css">
	.holder-4 {
		padding: 8% 4%;
	}
</style>

<div class="container-fluid">
	<div class="holder-4 col-md-8">
		<div class="row">
			<p class="semi lead">Thank you for ordering dawaat.<br>For any queries, please call us at : <a href="tel: 01234567890">01234567890</a></p>

		</div>

		<div class="row">
			<div class="col-md-6 p-0">
				<p class="regular lead">While we prepare your <span class="semi">dawaat</span>, You can share this picture to your stories!</p>
				<a href="http://bit.ly/36OWWye" download><button class="btn-1 mb-4">Download</button></a>
				<img src="http://bit.ly/36OWWye" class="col-md-12 p-0 shadow shadow-sm rounded" name="thankyou-img">
			</div>

			
		</div>
	</div>
</div>