<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="container">
					<div class="my-5">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Uber_Eats_2018_logo.svg/1280px-Uber_Eats_2018_logo.svg.png" width="100%">
					</div>
				</div>
			</div>
			<div class="col-md-3 border-left">
				<div class="container">
					<div class="my-5">
						<img src="https://www.comunicaffe.com/wp-content/uploads/2019/09/Foodpanda.jpg" width="100%">
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

