/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "jquery.dataTables";
@import 'general/*';
@import 'navbar.css';

@import 'style';
@import 'responsive.css';
@import 'Chart';

@import 'jquery-ui/core.css';
@import 'jquery-ui/datepicker.css';
@import 'jquery-ui/theme.css';

body {
	font-family: "Medium";
}

.print-space-h250 {
  display: none;
  width: 100%;
  height: 250px;
}

@media print {
  footer {
    visibility: hidden;
  }
  .do-not-print {
    visibility: hidden; 
  }
  .print-space-h250 {
    display: block;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/assets/img/loader.svg') 50% 40% no-repeat rgb(255,255,255);
}

.mini-image-100 {
  max-width: 100px;
  max-height: 100px;
}