.btn-1 {
    background-color: #111111;
    color: white;
    padding: 3%;
    border: none;
    border-radius: 5px;
    font-family: "Regular";
}

.left {
    height: 100vh;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.25)),
                url("https://rebrand.ly/gl5os9");
    background-size: cover;
    background-position: 30% 30%;
}

.right {
    padding: 0;
}

.right-holder {
    padding: 4%;
}

.promo-banner {
    padding: 0;
}

.promo-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#menu-holder {
    padding: 0;
    margin: 0;
}

.menu-header {
    margin: 4% 0 3% 0;
}

/*Card*/

.card {
    border: none;
    margin-bottom: 10%;
}

.card-body {
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    border-radius: 0 0 10px 10px;
    padding: 4%;
}

.card-img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.item-details * {
    margin: 0;
}

.item-title {
    font-family: "Semi";
    font-size: 20px;
}

.item-price {
    font-size: 16px;
}

.counter {
    border: none;
    text-align: center;
    padding: 0;
    font-family: "Semi";
}

.counter-btn {
    padding: 0 5px;
    background-color: black;
    border: 1px solid black;
    width: 40px;
}

.counter-btn:active {
    background-color: #333;
    border: 1px solid #333;
}

footer {
    margin-top: 4%;
    background-color: #f2f2f2;
    padding: 5% 4%;
    font-size: 18px;
}

.social-list li {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    padding: 10px;
    vertical-align: middle;
    background-color: black;
    text-align: center;
    margin-right: 10px;
    transition: 0.3s;
}

.social-list a {
    color: white;
}

.social-list li:hover {
    transform: scale(1.08);
    color: #ffdd00;
}

.social-list i {
    margin-top: 5px;
}

.social-list li a:hover {
    color: black;
}

/*Modal*/

.modal-content {
    padding: 6%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.3);
}

.modal-header {
    padding: 0;
    padding: 2% 0;
    border-bottom: none;
    border-bottom: 1px solid #E9EBF0;
}

.modal-title {
    font-family: "Semi";
    font-size: 24px;
}

.modal-body {
    padding: 0;
}

.modal-form {
    padding: 4% 0;
    overflow-x: hidden;
}

.modal-form p {
    margin: 0;
    font-size: 14px;
    font-family: "Semi";
}

.modal-form .form-group {
    margin-bottom: 2%;
}

.modal-form .form-control {
    border: none;
    border: 1px solid #E9EBF0;
    border-radius: 3px;
    font-family: "Regular";
}

.modal-card {
    background-image: linear-gradient(to right, #FFA805, #ffdd00);
    padding: 5%;
    border-radius: 5px;
    width: 100%;
    color: white;
    margin: 2% 0 4% 0;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15);
}


.card-hr {
    margin: 2% 0;
    border: 0.5px solid rgba(255,255,255,0.3);
}

.sub {
    font-size: 24px;
    font-family: "Semi";
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.cod-text {
    text-align: center;
    padding: 2% 0 0 0;
}

.modal-form .btn-1 {
    box-shadow: 0 3px 12px rgba(0,0,0,0.16);
}





