<div class="col-md-6">
    <div class="card">
        <img src="https://rebrand.ly/2pb4mb" class="card-img card-img-top">
        <div class="card-body">
            <div class="row">
                <div class="col-7">
                    <div class="item-details">
                        <p class="item-title"><span id="product-3"><%= @polao_roast.name %></span></p>
                        <p class="item-price">TK <span id="price-3"><%= @polao_roast.price %></span></p>
                    </div>
                </div>

                <!--Counter-->
                <div class="col-5 pl-0 my-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn counter-btn" id="minus-3">
                                <img src="http://bit.ly/2r1QXWq" width="20px" />
                            </button>
                        </div>
                        <input type="text" class="form-control counter" value="0" min="0" id="quantity-2">
                        <div class="input-group-append">
                            <button type="button" class="btn counter-btn" id="plus-3">
                                <img src="http://bit.ly/2PIIUbC" width="20px" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>