<footer>
    <div class="row">
        <div class="col-7" align="left">
            <ul class="social-list p-0 m-0">
                <a href="#">
                    <li><i class="fab fa-facebook-f"></i></li>
                </a>
                <a href="#">
                    <li><i class="fab fa-instagram"></i></li>
                </a>
                <a href="#">
                    <li><i class="fab fa-linkedin-in"></i></li>
                </a>
            </ul>
        </div>
        <li><%= link_to 'Log out', logout_path, method: :delete %></li>

        <div class="col-5" align="right">
            <p class="semi m-0 py-2 credits">dawaat &copy; 2019</p>
        </div>
    </div>
</footer>