<nav class="navbar2 navbar-expand-lg navbar-light">
    <a class="navbar-brand2" href="#"><img src="http://bit.ly/31WmmGG" width="90px" /></a>
    <button class="navbar-toggler2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <img src="https://img.icons8.com/ios-glyphs/208/000000/menu.png" width="30px;">
    </button>

    <div class="collapse navbar-collapse2 semi" id="navbarSupportedContent">
        <ul class="navbar-nav2 mr-auto">
            <li class="nav-item2">
                <a class="nav-link2" href="">Menu</a>
            </li>
            <li class="nav-item2">
                <a class="nav-link2" href="#">Our Story</a>
            </li>
            <li class="nav-item2">
                <a class="nav-link2" href="#">Feedback</a>
            </li>
        </ul>
    </div>
</nav>