<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="/"><img src="http://bit.ly/31WmmGG" width="90px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2">
        <img src="https://img.icons8.com/ios-glyphs/208/000000/menu.png" width="30px;">
    </button>

  <div class="collapse navbar-collapse semi" id="navbarSupportedContent2">
      <ul class="navbar-nav ml-auto" align="right">
          <li class="nav-item">
              <a class="nav-link color-black-important" href="/">Menu</a>
          </li>
          <li class="nav-item">
              <a class="nav-link color-black-important" href="/ourstory">Our Story</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " href="/feedback">Feedback</a>
          </li>
          <% if logged_in? && (current_user.admin == false) %>
              <li class="nav-item">
                  <div class="btn-group">
                    <button type="button" class="btn btn-1 dropdown-toggle nav-link p-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="action-btn">
                    Admin
                    </button>
                    <div class="dropdown-menu">
                        <%= link_to 'My Orders', myorders_path, class: "dropdown-item color-black-important" %>
                        <%= link_to 'Logout', logout_path, class: "dropdown-item color-black-important" %>
                    </div>
                  </div>
              </li>
          <% end %>

          <% if logged_in? && (current_user.admin?) %>
              <li class="nav-item">
                  <div class="btn-group">
                    <button type="button" class="btn btn-1 dropdown-toggle nav-link p-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="action-btn">
                    Admin
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/ongoing">Ongoing Orders</a>
                        <a class="dropdown-item" href="/products">All Products</a>
                        <a class="dropdown-item" href="/orders">All Orders</a>
                        <a class="dropdown-item" href="/users">All Users</a>
                        <div class="dropdown-divider"></div>
                        <%= link_to 'My Orders', myorders_path, class: "dropdown-item color-black-important" %>
                        <%= link_to 'Logout', logout_path, class: "dropdown-item color-black-important" %>
                    </div>
                  </div>
              </li>
          <% end %>
      </ul>
  </div>
</nav>