<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img src="http://bit.ly/31WmmGG" width="90px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <img src="https://img.icons8.com/ios-glyphs/208/000000/menu.png" width="30px;">
    </button>

    <div class="collapse navbar-collapse semi" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Our Story</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feedback</a>
            </li>
            <li class="nav-item">
                <a id="checkout" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Checkout</a>
            </li>
        </ul>
    </div>
</nav>